a { 
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: blue;
}

.top {
	background-color: #ffae73;
}

.feedmenu {
	border: 1px dotted black;
}

.feedmenuoption {
	color: black;
}

.feedmenuoption:hover {
	color: black;
}

.bottom {
	background-color: #ffae73;
}

.bottom a {
	/*color: #000;*/
}

.feedlist a {
	color: black;
}

.feedlist a:visited {
	color: black;
}

.feedpost {
	border: 2px solid black;
	border-radius: 3px;
}

.nomoreposts {
	background-color: #ffae73;
}

.loadingposts {
	background-color: #ffae73;
}

.postoption {
	color: blue;
}

.unread {
	border: 2px solid red;
}

.unreadcount {
	background-color: #ff6c00;
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 3px;
	border: 1px solid black;
	font-weight: normal;
}

#uploadForm {
	border: 1px solid black;
	background-color: #fff;
}