.container { 
	max-width: 960px; 
	max-height: 100%;
	margin: 0 auto;
}

.top {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100%;
	
	background-color: #ccc;
}

.top .header {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 4em;
}

.middle {
	margin-top: 100px;
}

.leftcol {
	position: fixed;
	left: 0px;
	top: 100px;
	bottom: 25px;
	width: 250px;
	overflow: auto;
}

.rightcol {
	margin-left: 100px;
	padding-top: 5px;
	padding-bottom: 25px;
	overflow: auto;
}

.feedmenu {
	position: fixed;
	right: 5px;
	padding-right: 5px;
	top: 100px;
	border: 1px dotted black;
	list-style-type: none;
	padding-left: 15px;
	width: 200px;
	max-width: 200px
}

.feedmenuoption a {
	text-decoration: none;
}

.feedmenuoption a:hover {
	text-decoration: underline;
}

.bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 25px;
	
	width: 100%;
	background-color: #ccc;
}

.bottom .copyright {
	padding-left: 5px;
	padding-top: 5px;
}

body { 
	font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
}

.feedlist {
	list-style-type: none;
	padding-left: 15px;
}

.feed1 {
	background-color: #fff;
}

.feed2 { 
	background-color: #ddd;
}

.selectedfeed {
	font-weight: bold;
}

.feedcategory {
	text-decoration: none;
	cursor: pointer;
}

.feedcategory:hover {
	text-decoration: underline;
}

.feedlink {
	text-decoration: none;
	cursor: pointer;
}

.feedlink:hover {
	text-decoration: underline;
}

.feedpostlist {
	list-style-type: none;
}

.feedpost {
	max-width: 90%;
	margin-top: 15px;
	border: 2px solid black;
	border-radius: 3px;
}

.nomoreposts {
	max-width: 90%;
	margin-top: 15px;
	background-color: #ccc;
	text-align: center;
}

.feedpost .title {
	font-weight: bold;
	margin-left: 5px;
}

.feedpost .author {
	font-style: italic;
	margin-left: 5px;
}

.feedpost .pubdate {
	float: right;
	padding-right: 5px;
}

.feedpost .fromfeed {
	margin-left: 5px;
}

.feedpost .body {
	margin-left: 5px;
}

.unread {
	border: 2px solid red;
}

.unreadcount {
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	border: 1px solid black;
	position: absolute;
	right: 0px;
	font-weight: normal;
}

.hide-element { display: none; }

#loading { 
	position: fixed;
	top: 100px;
	right: 200px;
	visibility: hidden;
}