
.container {  
	max-height: 100%;
	margin: 0 auto;
}

.top {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100%;
	z-index: 90;
}

.top .header {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 4em;
}

.middle {
	margin-top: 100px;
}

.leftcol {
	position: fixed;
	left: 0px;
	top: 100px;
	bottom: 25px;
	width: 250px;
	border-right: 5px ridge gray;
	cursor: e-resize;
}

.leftcol .leftcolcontent {
	white-space: nowrap;
	padding-right: 7px;
	cursor: auto;
	height: 100%;
	overflow-x: scroll;
	overflow-y: auto;
}

.rightcol {
	margin-right: 225px;
	margin-left: 250px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 25px;
	overflow: auto;
}

.rightcol .textblock {
	width: 55%;
}

.feedmenu {
	position: fixed;
	right: 5px;
	padding-right: 5px;
	top: 100px;
	list-style-type: none;
	padding-left: 15px;
	width: 200px;
	max-width: 200px
}

.feedmenu a {
	cursor: pointer;
	text-decoration: none;
}

.feedmenu a:hover {
	text-decoration: underline;
}

.bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 25px;
	width: 100%;
}

.bottom .copyright {
	padding-left: 5px;
	padding-top: 5px;
}

body { 
	font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
}

.feedlist {
	list-style-type: none;
	padding-left: 15px;
}

.feedlist li {
	width: 100%;
}

.welcomeblock a {
	text-decoration: none;
	cursor: pointer;
}

.selectedfeed {
	font-weight: bold;
	display: block;
}

.feedlist {
	cursor: pointer;
}

.feedlist a {
	text-decoration: none;
}

.feedlist a:hover {
	text-decoration: underline;
}

.feedpostlist {
	list-style-type: none;
}

.feedpostlistend {
	list-style-type: none;
}

.textblock {
	position: absolute;
	top: 35%;
}

.feedpost {
	max-width: 90%;
	margin-top: 15px;
}

.nomoreposts {
	max-width: 90%;
	margin-top: 15px;
	text-align: center;
}

.loadingposts {
	max-width: 90%;
	margin-top: 15px;
	text-align: center;
}

.feedpost .title {
	font-weight: bold;
	margin-left: 5px;
}

.feedpost .author {
	font-style: italic;
	margin-left: 5px;
}

.feedpost .pubdate {
	float: right;
	padding-right: 5px;
}

.feedpost .fromfeed {
	margin-left: 5px;
}

.feedpost .body {
	margin-left: 5px;
	margin-right: 5px;
}

.feedpost .body img {
	max-width: 100%;
	max-height: 100%;
}

.feedpost .body object {
	max-width: 100%;
	max-height: 100%;
}

.feedpost .postoptions {
	text-align: right;
	margin-right: 5px;
	padding-top: 5px;
}

.postoptionshare {
	display: block;
	position: relative;
	padding-top: 5px;
	padding-right: 5px;
	bottom: 5px;
	float: left;
	left: -30px;
	height: 20px;
}

.postoption {
	display: inline;
	list-style-type: none;
}

.postoption:hover {
	text-decoration: underline;
}

.hide-element { display: none; }

#loading { 
	position: absolute;
	right: 0px;
	padding-right: 3px;
	padding-top: 2px;
}

#uploadForm {
	z-index: 90;
	position: fixed;
	right: 250px;
	top: 140px;
	height: 50px;
	padding: 5px;
}

#uploadForm .closeButton {
    text-align: right;
    text-decoration: none;
    margin-right: -5px;
    margin-top: -5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.main-menu-mobile {
	display: none;
}

.feed-menu-mobile {
	display: none;
}