/* auto-resized images */
img { max-width: 100%; height: auto; }

@media(max-width:767px){
   .affix {
     position: static;
     width: auto;
     top: 0;
    }
}

@media (min-width: 768px) {
    .navCollapse {
        padding-left: 0;
        padding-right: 0;
        max-height: 450px;
    }
    
    .item-padding {
        padding-left: 15px;
        padding-top: 15px;
    }
    
    #top-nav-bar > .navbar-header > .navbar-brand {
        display: none;
    }
    
    #feedPanel > .navbar-header {
        display: none;
    }
    
    #top-nav-bar.affix {
        position: fixed;
        top: 5px;
        width: 847px;
        background-color: #000;
        border-color: #080808;
    }
    
    #top-nav-bar.affix .navbar-nav > li > a {
        color: #999;
    }
    
    #top-nav-bar.affix-top {
        
    }
    
    #top-nav-bar.affix-bottom {
        position: absolute;
    }
    
    #feedPanel.affix {
        position: fixed;
        top: 5px;
        width: 263px;
    }
    
    #feedPanel.affix-top {
        
    }
    
    #feedPanel.affix-bottom {
        position: absolute;
    }
    
    #feedList {
        overflow-y: auto;
        max-height: 450px;
    }
    
    #feedPanel.affix > .navCollapse > #feedList {
        max-height: 650px;
    }
    
    #feedPanel.affix > .navCollapse {
        max-height: 650px;
    }
}

.unread {
    border-color: #f00;
}

/* Override Bootstrap's style for the front page. */
.carousel-caption {
    background-color: rgba(50, 50, 50, 0.5);
    text-shadow: none;
}