.nr-link-selected {
    background-color: rgba(255,215,0,0.5);
}

.nr-title-selected {
    background-color: rgba(173,255,47,0.5);
}

.nr-body-selected {
    background-color: rgba(255,127,80,0.5);
}

.nr-square {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}

/* auto-resized images */
img { max-width: 100%; height: auto; }

#createFeed .modal-dialog {
    width: 900px;
}

@media(max-width:768px){
   .affix {
     position: static;
     width: auto;
     top: 0;
    }
}

@media (min-width: 768px) {
    #feedPanel.affix {
        position: fixed;
        top: 5px;
        width: 19%;
    }
    
    #feedPanel.affix-top {
        
    }
    
    #feedPanel.affix-bottom {
        position: absolute;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #feedPanel.affix {
        position: fixed;
        top: 5px;
        width: 212px;
    }
    
    #feedPanel.affix-top {
        
    }
    
    #feedPanel.affix-bottom {
        position: absolute;
    }
}

@media (min-width: 768px) {
    .navCollapse {
        padding-left: 0;
        padding-right: 0;
        max-height: 450px;
    }
    
    .item-padding {
        padding-left: 15px;
        padding-top: 15px;
    }
    
    #top-nav-bar > .navbar-header > .navbar-brand {
        display: none;
    }
    
    #feedPanel > .navbar-header {
        display: none;
    }
    
    body {
        padding-bottom: 60px;
    }
    
    #top-nav-bar.affix {
        position: fixed;
        top: 5px;
        width: 847px;
        background-color: #000;
        border-color: #080808;
    }
    
    #top-nav-bar.affix .navbar-nav > li > a {
        color: #999;
    }
    
    #top-nav-bar.affix-top {
        
    }
    
    #top-nav-bar.affix-bottom {
        position: absolute;
    }
    
    #feedList {
        overflow-y: auto;
        max-height: 450px;
    }
    
    #feedPanel.affix > .navCollapse > #feedList {
        max-height: 650px;
    }
    
    #feedPanel.affix > .navCollapse {
        max-height: 650px;
    }
}

.unread {
    border-color: #f00;
}

.selected-article {
    border-style: dashed;
}

/* Override Bootstrap's style for the front page. */
.carousel-caption {
    background-color: rgba(50, 50, 50, 0.5);
    text-shadow: none;
}